.title {
  text-align: right;
  margin-right: 30px;
  color: orange;
}

.center {
  text-align: center;
}

.line {
  background: black;
  height: 1px;
  width: 100%;
}
main {
  display: flex;
  align-items: center;
  margin: 10px;
}
